body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main article {
	display: inline;
	margin-right: 0.25em;
}

main > article {
	display: block;
}

main article .reply {
}

main article .reply .rbt-sr-status {
  display: none;
}

main article .reply .tag-cloud {
  display: flex;
  height: 14em;
  width: 24em;
}
main article .reply .tag-cloud .tag-cloud-inner {
  flex: 1;
}